@import '../../../../styles/mq.scss';
@import '../../../../styles/transitions.scss';

iframe {
  border: none;
  border-radius: var(--border-radius);
}

.codepen {
  margin-top: 50px;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
  }
  button {
    position: relative;
    width: 80%;
    @include transition((transform, background-color, color));
    background-color: var(--color-pink-light);
    color: var(--color-black);

    &:hover,
    &.active {
      transform: translateX(10px);
      background-color: var(--color-pink);
      color: var(--color-white);

      .icon {
        color: var(--color-white);
      }
    }

    .icon {
      color: var(--color-black);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      font-size: 3rem;
    }
  }

  .preview {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;

    @include breakpoint(lg) {
      width: 80%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
