{% set title = 'Meet Antonija | About' %} {% extends 'layouts/application.html'
%} {% block content %}
<div class="about-page">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-5 offset-lg-1">
          <div class="card">
            <h1>
              <b>Hello world</b>
            </h1>

            <p>
              I am a developer who enjoys spending her evenings exploring new
              cools stuff on the web. The biggest joy I get in professional work
              is when I start project completely from scratch. I am CSS junky, I
              really care about CSS. I believe its importance is underestimated
              among developers. That is why I started Meetup group in Zagreb for
              CSS only.
            </p>

            <p>
              I wrote my first line of code long time ago in the 90s. I was that
              kid in the neighbourhood who could install the latest Windows on
              any machine. I got serious about coding around 2015 when I got
              first job in coding.
            </p>

            <p>
              Due to my introvertism I like to work in smaller teams where
              people are familiar and nice to me. I believe delivering a
              software then becomes more personal experience. Then I feel happy
              to invest my time and effort into software that I care about.
            </p>
          </div>
        </div>

        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-5 offset-lg-0">
          <img src="./images/ja.jpeg" alt="" class="" />
        </div>
      </div>
    </div>
  </header>

  <section></section>
</div>
{% endblock %}
