{% set title = 'Meet Antonija | Code Institute' %} {% extends
'layouts/application.html' %} {% block content %}
<div class="portfolio-page portfolio codeinstitute">
  <header class="portfolio-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-sm-10 offset-sm-1 col-md-12 offset-md-0">
          <h1>Code Institute</h1>
          <img src="./images/ci4.png" alt="" />
        </div>
      </div>
    </div>
  </header>

  <section class="section-portfolio-data">
    <div class="container">
      <div class="row row-data">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="text-left">Client</h3>
          <p class="text-left">Code Institute</p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="text-left">Technology</h3>
          <p class="text-left">HTML, CSS, JS, SCSS</p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="text-left">Completed in</h3>
          <p class="text-left">2018</p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="text-left">Link</h3>
          <p class="text-left">
            <a
              href="https://codeinstitute.net/"
              target="_blank"
              class="text-white"
              >https://codeinstitute.net/</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-info">
    <div class="container">
      <div class="row">
        <div class="offset-sm-1 col-sm-10 col-lg-6 offset-lg-3 section-col">
          <h2 class="text-left">Description</h2>
          <p class="portfolio-description">
            Code Institute is Dublin based bootcamp that trains students from
            zero to hero, turning them into real porfessional developers with
            large scope of skills, in front-end and back-end. Students with
            diploma from Code Institute are eligible to apply to almost any
            software developer job.
          </p>
        </div>

        <div class="offset-sm-1 col-sm-10 col-lg-6 offset-lg-3 section-col">
          <h2 class="text-left">Technology</h2>
          <p class="portfolio-description">
            The main technologies required for this project were HTML, CSS, Scss
            and JS and some fundamental knowledge in Django architecture.
          </p>
        </div>

        <div class="offset-sm-1 col-sm-10 col-lg-6 offset-lg-3 section-col">
          <h2 class="text-left">My role in the project</h2>
          <dl class="text-left">
            <dt>Product Development</dt>
            <dd>
              I have been developing content and learning material for students.
              The content I wrote provided students with up to date knowledge
              about the mandatory skills needed for web development: HTML, CSS,
              CSS animations and transitions, responsive web design, JS and
              Scss. After that, students were given challenges where they could
              practice on real-life examples. Except for challenges, I created a
              quiz for each lesson that tested student's knowledge as well. The
              other task was audio and video material that complements the rest
              of the content. <br />
              <a
                href="https://www.youtube.com/watch?v=3h19_vssz3M&feature=youtu.be"
                target="_blank"
                >Intro Lesson</a
              >
            </dd>
            <dt>UI development</dt>
            <dd>
              The task was to implement plenty of new components into an
              existing LMS based on Django: quizzes, embedded repl.it, sidebar,
              course content, header, footer. I coded the interface of every
              course module. I was provided with the design files. It required
              CSS and Scss skills. The existing LMS code was slow and messy. I
              improved it with Scss logic. Now it is much cleaner and faster. I
              liked working with a designer, he had a really good eye for modern
              and contemporary design.
            </dd>
            <dt>Mentoring</dt>
            <dd>
              I have been mentoring (remotely) for 14 months at Code Institute.
              The major part of the mentorship sessions is focusing on the code
              quality of students' projects. I help students to think like
              professional developers from the very start of their coding
              career. The content agnosticism, don't repeat yourself,
              reusability and object orientation are principles that I encourage
              on every session. I advise my students to stay persistent,
              committed and curious.
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-image-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
          <a href="./images/ci2.png" target="_blank">
            <img src="./images/ci2.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
