{% set title = 'Meet Antonija | Text Hover Effects' %} {% extends
'layouts/application.html' %} {% block content %}
<div class="portfolio-page portfolio sessions">
  <header class="portfolio-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Text hover effects</h1>
        </div>
        <div class="col-xs-8 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
          <img src="./images/h1.png" alt="" />
        </div>
      </div>
    </div>
  </header>

  <section class="section-portfolio-data">
    <div class="container">
      <div class="row row-data">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="text-left">Technology</h3>
          <p class="text-left">Scss</p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="text-left">Code</h3>
          <p class="text-left">
            <a
              href="https://github.com/tonkec/text_hover_effects"
              target="_blank"
              >https://github.com/tonkec/text_hover_effects</a
            >
          </p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="text-left">Link</h3>
          <p class="text-left">
            <a href="https://text-hover-effects.herokuapp.com/" target="_blank"
              >https://text-hover-effects.herokuapp.com/</a
            >
          </p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="text-left">Completed in</h3>
          <p class="text-left">2019</p>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-info">
    <div class="container">
      <div class="row">
        <div class="offset-sm-1 col-sm-10 col-lg-6 offset-lg-3 section-col">
          <h2 class="text-left">Description</h2>
          <p class="portfolio-description">
            This is a scss mixin library for effects trigered on hover and
            click. This library brings a clean fresh look to links and other
            typography elements. It allows customization of the different CSS
            properties, such as speed, delays, easing, colors, padding and more.
            It is also available in the CSS code. All transitions can be
            triggered on hover/focus or click.
          </p>
        </div>

        <div class="offset-sm-1 col-sm-10 col-lg-6 offset-lg-3 section-col">
          <h2 class="text-left">Technology</h2>
          <p class="portfolio-description">
            Scss for library, React.js and Heroku for demo
          </p>
        </div>

        <div class="offset-sm-1 col-sm-10 col-lg-6 offset-lg-3 section-col">
          <h2 class="text-left">My idea for the project</h2>
          <p class="portfolio-description">
            My idea was to have at one place different effects that can be
            triggered on click or hover. This library should save up developer's
            time. Any effects can be customized with passing arguments to
            mixins. Effects are initialised with CSS classes. I put high effort
            in keeping the code clean and reusable.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-links">
    <div class="container">
      <div class="row text-center">
        <div class="col text-center">
          <a href="./sessions_tracker.html">Sessions Tracker</a>
        </div>
      </div>
    </div>
  </section>
</div>
{% include "components/footer.html" %} {% endblock %}
