body,
html {
  margin: 0;
  font-family: "Raleway", sans-serif;
  // background-color: #f9c80e;
}

div[class*="craftstrom"],
.black-background {
  background-color: black;
}

*[class*="pimsf"] {
  background-color: #414141;
}

*[class*="sessionstracker"] {
  background-color: #414141;
}

*[class*="texthovereffects"] {
  background-color: #414141;
}

*[class*="craftstrom"] {
  background-color: black;
}

*[class*="peaks"] {
  background-color: black;
}

*[class*="codeinstitute"] {
  background-color: grey;
}

*[class*="revuto"] {
  background-color: #222;
}

.section__heading {
  margin-bottom: 60px;
}

.section {
  &--hobby {
    padding-top: 0;
  }
  &--portfolio {
    .col-sm-6 {
      &:nth-last-of-type(-n + 2) {
        div {
          margin-bottom: 0;
        }
      }
    }
  }
}

.row {
  &.is-centered {
    justify-content: center;
    align-items: center;
  }
}
