html {
  scroll-snap-type: y mandatory;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
  font-size: 80px;
  font-family: 'Plaster', sans-serif;
}
