@import './../../../../styles/mq.scss';

.code {
  background-color: var(--color-block-code);
  color: var(--color-white);
  border-radius: var(--border-radius);
  font-size: 1rem;
  max-width: 100%;
  position: relative;

  @include breakpoint('md') {
    max-width: 400px;

    &:nth-child(2) {
      top: 100px;
      left: 20px;
    }
  
    &:last-child {
      bottom: 0;
      right: 0;
    }
  }

 

  pre {
    overflow-x: auto;
  }

  .bar {
    background-color: var(--color-white);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 10px;

    span {
      font-size: 1.2rem;
      color: var(--color-black);
      background-color: var(--color-accent);
      border-radius: 100%;
      height: 15px;
      width: 15px;
      margin-right: 10px;

      &:first-child {
        background-color: var(--color-red);
      }

      &:last-child {
        background-color: var(--color-green);
      }
    }
  }
}
