<footer class="footer-section container-fluid">
  <ul class="footer-list row">
    <li class="col-sm-4 col-lg-12">
      <a
        href="https://drive.google.com/open?id=1s25bp7QEcM7-6JJqgAJmmBxLhNi6C1F5"
        target="_blank"
        >Resume</a
      >
    </li>
    <li class="col-sm-4 col-lg-12">
      <a href="https://github.com/tonkec" target="_blank">Github</a>
    </li>
    <li class="col-sm-4 col-lg-12">
      <a href="https://codepen.io/tonkec/" target="_blank">Codepen</a>
    </li>
    <li class="col-sm-4 col-lg-12">
      <a
        href="https://stackoverflow.com/users/2504334/antonija-%C5%A0imi%C4%87"
        target="_blank"
        >Stackoverflow</a
      >
    </li>
    <li class="col-sm-4 col-lg-12">
      <a href="https://www.meetup.com/S_CSS_Zagreb/" target="_blank">Meetup</a>
    </li>
    <li class="col-sm-4 col-lg-12">
      <a href="https://slides.com/tonkecpalonkec/" target="_blank">Speaker</a>
    </li>
  </ul>
</footer>
