<section class="portfolio-section container">
  <div class="columns">
    <div class="column has-text-centered">
      <h2 class="column-title">Client Work</h2>
    </div>
  </div>

  <div class="columns columns-client">
    <div class="column portfolio-column craftstrom">
      <div class="column-content has-text-white">
        <h2>Craftstrom</h2>
        <p>React Native app that connects to solar panels</p>
        <small>- Front-end dev</small>
        <span class="portoflio-pointer">More</span>
      </div>
    </div>

    <div class="column portfolio-column craftstrom">
      <div class="column-content has-text-white">
        <h2>Kwikdroid</h2>
        <p>RoR app that handles company's expenses</p>
        <small>- Front-end dev</small>
        <span class="portoflio-pointer">More</span>
      </div>
    </div>
  </div>

  <div class="columns columns-client">
    <div class="column portfolio-column craftstrom">
      <div class="column-content has-text-white">
        <h2>Code Institute</h2>
        <p>Bunch of stuff</p>
        <small>- Front-end dev</small>
        <span class="portoflio-pointer">More</span>
      </div>
    </div>

    <div class="column portfolio-column craftstrom">
      <div class="column-content has-text-white">
        <h2>Peaks</h2>
        <p>Template for digital agencies</p>
        <small>- Front-end dev</small>
        <span class="portoflio-pointer">More</span>
      </div>
    </div>
  </div>


  <div class="columns">
    <div class="column has-text-centered">
      <h2 class="column-title">Playground</h2>
    </div>
  </div>

  <div class="columns columns-playground">
    <div class="column portfolio-column craftstrom">
      <div class="column-content has-text-white">
        <h2>Text hover effects</h2>
        <p>Scss library for hover and click effects</p>
        <small>- Front-end player</small>
        <span class="portoflio-pointer">More</span>
      </div>
    </div>

    <div class="column portfolio-column craftstrom">
      <div class="column-content has-text-white">
        <h2>Show me the reddits</h2>
        <p>React.js project that filters reddits</p>
        <small>- Front-end player</small>
        <span class="portoflio-pointer">More</span>
      </div>
    </div>
  </div>


</section>
