<section class="skills-section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="skills-heading is-uppercase has-text-weight-bold">Skills</h2>
        <p class="skills-description">In my career so far I have solved many problems with HTML, CSS, Bootstrap, Bulma, Js, React.js and Figma</p>
      </div>
      <div class="column is-offset-1">
        <h2 class="skills-heading is-uppercase has-text-weight-bold">Mentoring</h2>
        <p class="skills-description">I have helped plenty of students with projects. We debugged together, researched many issues, looked for answers, read the docs and solved the problem</p>
      </div>
      <div class="column is-offset-1">
        <h2 class="skills-heading is-uppercase has-text-weight-bold">Tools</h2>
        <p class="skills-description">My workflow is enhanced with Webpack, Gulp, Jira, Trello, npm and yarn packages. I like to keep dependecies as light as possible, though</p>
      </div>
    </div>
  </div>
</section>
