<section class="testimonials-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h2>Some nice things about me</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-xl-4 testimonial-column">
          <figure>
            <blockquote cite="https://codeinstitute.net/">
              Antonija is a <span>superb</span> developer. She is detail <span>focused</span> and she helped us make a superb educational product. She is a pleasure to work with. I'd highly recommend her.
            </blockquote>
            <figcaption><a href="https://codeinstitute.net/" target="_blank">Brian O'Grady, Code Institute</a></figcaption>
          </figure>
        </div>

        <div class="col-xl-4 testimonial-column">
          <figure>
            <blockquote cite="https://www.tintup.com/">
              Thank you so much for staying <span>dedicated</span> and working hard on all of the TINT projects we give you. You've made our lives easier and have allowed Joel and I to focus more on <span>growing</span> our brand and enhancing our UX.
            </blockquote>
            <figcaption><a href="https://www.tintup.com/" target="_blank">Daniel Baldwin, Tint</a></figcaption>
          </figure>
        </div>

        <div class="col-xl-4 testimonial-column">
          <figure>
            <blockquote cite="http://www.supersuperagency.com/">
              It was a pleasure to work with Antonija. She is very <span>fast</span> working developer with large scope of frontend technologies. She takes every task in great detail and brings her advices and <span>insight</span> into development.
            </blockquote>
            <figcaption><a href="http://www.supersuperagency.com/" target="_blank">Mario Stipetic, Supersuperstudio</a></figcaption>
          </figure>
        </div>
    </div>
  </div>
</section>
