<section class="testimonials-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h2 class="yellow-selection">Some nice things about me</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 testimonial-column">
        <figure>
          <blockquote cite="https://codeinstitute.net/">
            <p class="yellow-selection">
              Antonija is a superb developer. She is detail focused and she
              helped us make a superb educational product. She is a pleasure to
              work with. I'd highly recommend her.
            </p>
          </blockquote>
          <figcaption>
            <a href="https://codeinstitute.net/" target="_blank"
              >Brian O'Grady, Code Institute</a
            >
          </figcaption>
        </figure>
      </div>

      <div class="col-xl-4 testimonial-column">
        <figure>
          <blockquote cite="http://www.supersuperagency.com/">
            <p class="yellow-selection">
              It was a pleasure to work with Antonija. She is very fast working
              developer with large scope of frontend technologies. She takes
              every task in great detail and brings her advices and insight into
              development.
            </p>
          </blockquote>
          <figcaption>
            <a href="http://www.supersuperagency.com/" target="_blank"
              >Mario Stipetic, Supersuperstudio</a
            >
          </figcaption>
        </figure>
      </div>

      <div class="col-xl-4 testimonial-column m-0">
        <figure>
          <blockquote cite="https://github.com/maria-mir">
            <p class="yellow-selection">
              I owe you a big thank you for all your resources, useful feedbacks
              and wealth of knowledge that helped me achieve great scores. You
              made me aim high which makes you an incredible tutor!
            </p>
          </blockquote>
          <figcaption>
            <a href="https://github.com/maria-mir" target="_blank"
              >Maria Mir, Student at Code Institute</a
            >
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
