<section class="testimonials-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h2>Some nice things about me</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-xl-4 offset-xl-2 testimonial-column">
          <figure>
            <blockquote cite="https://codeinstitute.net/">
              <div class="d-sm-block d-xl-none">
                <p> Antonija is a superb developer. She is detail focused and she helped us make a superb educational product. She is a pleasure to work with. I'd highly recommend her.</p>
              </div>
              <div class="d-sm-none d-xl-block">
                <p>Antonija is a <span>superb developer</span>. She is detail</p>
                <p>focused and she helped us make a superb</p>
                <p>educational product. She is a pleasure to work</p>
                <p> with. I'd highly  <span>recommend </span> her.</p>
              </div>
            </blockquote>
            <figcaption><a href="https://codeinstitute.net/" target="_blank">Brian O'Grady, Code Institute</a></figcaption>
          </figure>
        </div>

        <div class="col-xl-4 testimonial-column">
          <figure>
            <blockquote cite="http://www.supersuperagency.com/">
              <div class="d-sm-block d-xl-none">
                <p>It was a pleasure to work with Antonija. She is very fast working developer with large scope of frontend technologies. She takes every task in great detail and brings her advices and insight into development.</p>
              </div>
              <div class="d-sm-none d-xl-block">
                <p>It was a pleasure to work with Antonija. She is very</p>
                <p><span>fast working developer </span> with large scope of</p>
                <p>frontend technologies. She takes every task in </p>
                <p><span>great detail</span> and brings her advices and insight into</p>
                <p>development.</p>
              <div>
            </blockquote>
            <figcaption><a href="http://www.supersuperagency.com/" target="_blank">Mario Stipetic, Supersuperstudio</a></figcaption>
          </figure>
        </div>
    </div>
  </div>
</section>
