.contact-section {
  padding: 120px 0 120px;
  background-color: #f9c80e;
  margin-bottom: 190px;
  position: relative;

  h2 {
    margin-bottom: 50px;
  }

  input, textarea {
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
    border-bottom: 1.5px solid #2f2f2f;
    color: #2f2f2f;
    z-index: 2;
    width: 100%;
    font-size: 1.2rem;
    resize: none;
    padding-bottom: 10px;
    transition: border-bottom .2s ease-in-out;
    &:focus {
      border-bottom: 1.5px solid $green;
      box-shadow: none;
      outline: none;
    }
  }

  input {
    margin-bottom: 70px;
  }

  button {
    width: 150px;
    background-color: #2f2f2f;
    border: none;
    padding: 5px 0;
    color: $white;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }

  .msg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    background-color: $green;
    color: white;
    z-index: 99;

    .x {
      cursor: pointer;
    }
  }
}

::placeholder {
  color: #292929;
  opacity: .7;
  font-size: 1.2rem;
}
