.contact-section {
  padding: 120px 0 120px;
  background-color: #f9c80e;

  .button {
    width: 150px;
    background-color: #2f2f2f;
  }

  h2 {
    margin-bottom: 30px;
  }

  .column {
    position: relative;
  }

  input, textarea {
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
    border-bottom: 1.5px solid #2f2f2f;
    color: #2f2f2f;
    z-index: 2;
    width: 100%;
    font-size: 1.2rem;
    resize: none;
    padding-bottom: 10px;
    transition: border-bottom .2s ease-in-out;
    &:focus {
      border-bottom: 1.5px solid $green;
      box-shadow: none;
      outline: none;
    }
  }

  input {
    margin-bottom: 30px;
  }
}

::placeholder {
  color: #292929;
  opacity: .7;
  font-size: 1.2rem;
}
