.nav {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;

  .left,
  .right {
    width: 100%;
    float: left;
    height: 50%;

    @media (min-width: 992px) {
      width: 50%;
      height: 100%;
    }
  }

  .container-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .left {
    background-color: $yellow;
    position: relative;
  }

  .right {
    background-color: $black;
  }

  &.nav-shown {
    display: block;
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    position: relative;
    list-style: none;

    li {
      margin-right: 15px;
      margin-bottom: 7px;
      a {
        font-size: 1rem;
        text-transform: uppercase;
        @media (min-width: 992px) {
          font-size: 1.6rem;
        }
      }
    }

    &.portfolio-list {
      li {
        display: inline-block;
        margin-bottom: 20px;
      }
      a {
        padding: 5px;
        background-color: $yellow;
        color: $black;
        font-weight: 900;
      }
    }

    &.list {
      a {
        color: $black;
        font-weight: 900;
      }
    }
  }

  .contact {
    padding: 10px;
    color: $yellow;
    font-weight: 900;
  }
}

.btn-nav {
  border: none;
  color: $black;
  background-color: $yellow;
  border: 3px solid $black;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  text-transform: uppercase;
  position: fixed;
  cursor: pointer;
  top: 15px;
  right: 15px;
  z-index: 99;
  padding: 7px 15px;
}

.btn-close {
  border: none;
  position: absolute;
  background-color: $white;
  cursor: pointer;
  top: 15px;
  right: 15px;
  z-index: 991;
  color: $black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  padding: 7px 15px;
}
