.portfolio-section {
  background-color: #fafafa;
  padding: 30px 0px;
  @media (min-width: 1300px) {
    padding-top: 20px;
    padding-bottom: 120px;
  }
  .column-title {
    margin-top: 60px;
    margin-bottom: 60px;
  }

.portfolio-column {
    margin-bottom: 30px;
    a {
      text-decoration: none;
    }
    .column-content {
      height: 100%;
      cursor: pointer;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 30px 50px 30px 30px;
      position: relative;
      z-index: 1;
      min-height: 180px;
      color: $white;
      // &:after {
      //   color: $yellow;
      //   margin-left: -22px;
      //   margin-right: 7px;
      //
      //   @media (min-width: 480px) {
      //     content: "";
      //     top: 0;
      //     width: 8px;
      //     height: 100%;
      //     position: absolute;
      //     background-color: $yellow;
      //     border: 1.5px solid #444;
      //     transform: rotateZ(10deg);
      //   }
      // }

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 50%;
        opacity: 0;
        border-radius: 100%;
        height: 100px;
        width: 100px;
        transform: rotateZ(-45deg) translateX(-150%);
        transition: transform .2s ease-in-out;
        z-index: -1;
      }

      &:hover:before {
        opacity: .7;
        transform: rotateZ(-10deg) translateX(0%) scale(1.5);
      }

      h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 5px;
        color: #292929;
      }

      p {
        color: #292929;
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-top: 20px;
        font-weight: 300;

      }

      small {
        color: #292929;
        font-size: .9rem;
        font-weight: 300;
      }
    }
  }
}

.row-client {
  .column-content{
    // border: 2px solid #000;

    &:before {
      background-color: $yellow;
    }
  }
}

.row-playground {
  .column-content {
    // border: 2px solid #000;

    &:before {
      background-color: $yellow;
    }
  }
}
