@mixin portfolio-image($image) {
  background-image: url($image);
}

.portfolio-section {
  padding-top: 100px;
  padding-bottom: 150px;
  h2 {
    margin-top: 80px;
  }

.portfolio-column {
    height: 250px;

    .column-content {
      height: 100%;
      cursor: pointer;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50px 20px 0 30px;

      h2 {
        margin: 0 0 10px;
        font-size: 2.3rem;
      }

      p {
        color: $white;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 10px;
      }

      small {
        font-size: .9rem;
      }
    }
  }
}

.columns-client {
  .column-content{
    background-color: $green;
  }
}

.columns-playground {
  .column-content {
    background-color: #662E9B;
  }
}
