.testimonials-section {
  background-color: #fff;
  position: relative;
  padding: 50px 0;

  @media (min-width: 992px) {
    padding: 130px 0;
  }
  h2 {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 60px;
    }
  }
  figure {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
  }
  blockquote {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
    color: $black;
    @media (min-width: 992px) {
      font-size: 1.1rem;
    }

    p {
      margin: 0;
      margin-bottom: 5px;
      display: inline-block;
      line-height: 1.8;
      color: #797979;
      font-size: 1.1rem;
    }
  }

  figcaption {
    font-size: 1rem;
    margin-top: 30px;
    cursor: pointer;

    a {
      color: $black;
      text-decoration: none;
      padding: 5px;
      background-color: $yellow;
      border: 1px solid #292929;
    }
  }

  .carousel-item {
    height: 200px;
    margin-top: 20px;
    @media (min-width: 992px) {
      margin-top: 30px;
    }
  }

  .carousel-indicators {
    bottom: -20px;
    cursor: pointer;
    z-index: 999;
    margin: 0;
    padding: 30px 0;
    li {
      width: 17px;
      height: 17px;
      margin-left: 10px;
      background-color: transparent;
      border: 3px solid #292929;
      transition: background-color 0.3s ease-in-out;

      &:hover,
      &.active {
        background-color: $yellow;
      }
    }
  }

  .testimonial-column {
    margin-bottom: 50px;
    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }
}

blockquote::selection {
  background: $yellow;
}
blockquote::selection::-moz-selection {
  background: $yellow;
}
