.testimonials-section {
  padding: 50px 0;
  background-color: #fff;
  position: relative;
  // &:before {
  //   position: absolute;
  //   background-color: #f9c80e;
  //   width: 300px;
  //   height: 300px;
  //   bottom: -60%;
  //   left: -30%;
  //   border-radius: 100%;
  //   transform: rotateZ(30deg);
  //
  //   @media (min-width: 768px) {
  //     content: "";
  //     bottom: -50%;
  //     left: -20%;
  //   }
  //
  //   @media (min-width: 1200px) {
  //     bottom: -40%;
  //     left: -15%;
  //   }
  // }
  @media (min-width: 1200px) {
    padding: 100px 0;
  }
   blockquote {
     font-size: 1rem;
     font-style: italic;
     font-weight: 300;

     @media (min-width: 992px) {
       font-size: 1.3rem;
     }
   }

   figcaption {
     font-size: 1rem;
     margin-top: 12px;
     border-bottom: 1.5px solid $yellow;
     display: inline;
     transition: background-color .3s ease-in-out;
     cursor: pointer;
     a {
       color: #292929;
       text-decoration: none;
     }
     &:hover {
       background-color: $yellow;
     }
   }

   .carousel-item {
     height: 200px;
     margin-top: 20px;
     @media (min-width: 992px) {
       margin-top: 50px;
     }
   }

  .carousel-indicators {
    bottom: -20px;
    cursor: pointer;
    li {
      width: 15px;
      height: 15px;
      margin-left: 10px;
      background-color: transparent;
      border: 2px solid #292929;
      transition: background-color .3s ease-in-out;

      &:hover, &.active {
        background-color: $yellow;
      }
    }
  }
}

blockquote::selection {
  background: $yellow;
}
blockquote::selection::-moz-selection {
  background: $yellow;
}
