{% from 'macros/helpers.html' import sprite %}
<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% include "shared/head.html" %} {% include "shared/app-icons.html" %} {%
    include "shared/navigation.html" %} {% block head %}{% endblock %}
  </head>
  <body>
    <div class="spinner"></div>
    {% block content %} {% endblock %} {% block javascript %} {% include
    "shared/scripts.html" %} {% endblock %}
  </body>
</html>
