<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 text-center">
        <h2 class="has-text-weight-semibold	">Say hi!</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <form id="form" method="post">

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <div class="control">
                <input type="text" required  name="from_name" placeholder="Your Name">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="field">
              <div class="control">
                <input type="text" required placeholder="Your Email">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="field">
              <div class="control">
                <textarea name="message_html"rows="5" placeholder="Message"></textarea>
                <button class="button float-right" type="submit">Send</button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $("#form").on("submit", function(event) {

    event.preventDefault(); // prevent reload

    var formData = new FormData(this);
    formData.append('service_id', 'gmail');
    formData.append('template_id', 'template_4cXwGrgd');
    formData.append('user_id', 'user_LOSuz8pR7cowgxlm0LOa5');

    $.ajax('https://api.emailjs.com/api/v1.0/email/send-form', {
        type: 'POST',
        data: formData,
        contentType: false, // auto-detection
        processData: false // no need to parse formData to string
    }).done(function() {
        console.log('Your mail is sent!');
    }).fail(function(error) {
        console.log('Oops... ' + JSON.stringify(error));
    });
});
</script>
