<footer class="footer-section container-fluid">
  <ul class="footer-list row">
    <li class="col-sm-4 col-lg-12">
      <a
        href="https://drive.google.com/open?id=1UEjT82METLqZ9Ph3TUkkNPrET90fDycg"
        target="_blank"
        rel="noopener"
        >Resume</a
      >
    </li>
    <li class="col-sm-4 col-lg-12">
      <a href="https://github.com/tonkec" target="_blank" rel="noopener"
        >Github</a
      >
    </li>
    <li class="col-sm-4 col-lg-12">
      <a href="https://codepen.io/tonkec/" target="_blank" rel="noopener"
        >Codepen</a
      >
    </li>
    <li class="col-sm-4 col-lg-12">
      <a href="https://mytwocents.dev/" target="_blank" rel="noopener"
        >mytwocents</a
      >
    </li>
    <li class="col-sm-4 col-lg-12">
      <a
        href="https://www.meetup.com/S_CSS_Zagreb/"
        target="_blank"
        rel="noopener"
        >Meetup</a
      >
    </li>
    <li class="col-sm-4 col-lg-12">
      <a
        href="https://slides.com/tonkecpalonkec/"
        target="_blank"
        rel="noopener"
        >Speaker</a
      >
    </li>
  </ul>
</footer>
