<section class="portfolio-section container">
  <div class="columns">
    <div class="column">
      <h2>Client Work</h2>
    </div>
  </div>
  <div class="columns">
    <div class="column portfolio-column">
      <div class="column-content"></div>
    </div>
    <div class="column portfolio-column">
      <div class="column-content"></div>
    </div>
    <div class="column portfolio-column">
      <div class="column-content"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column portfolio-column">
      <div class="column-content"></div>
    </div>
    <div class="column portfolio-column">
      <div class="column-content"></div>
    </div>
    <div class="column portfolio-column">
      <div class="column-content"></div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2>Playground</h2>
    </div>
  </div>
  <div class="columns">
    <div class="column portfolio-column">
      <div class="column-content"></div>
    </div>
    <div class="column portfolio-column">
      <div class="column-content"></div>
    </div>
    <div class="column portfolio-column">
      <div class="column-content"></div>
    </div>
  </div>

</section>
