<section class="portfolio-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="column-title">Client Work</h2>
      </div>
    </div>

    <div class="row row-portfolio">
      <div
        class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-6 offset-xl-2 col-xl-4 portfolio-column"
      >
        <a href="./craftstrom.html" class="portfolio-link">
          <div class="column-content craftstrom"></div>
        </a>
      </div>

      <div
        class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-6 col-xl-4 portfolio-column"
      >
        <a href="./zoomero.html" class="portfolio-link" target="_blank">
          <div class="column-content zoomero"></div>
        </a>
      </div>

      <div
        class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-6 offset-xl-2 col-xl-4 portfolio-column"
      >
        <a href="./codeinstitute.html" class="portfolio-link">
          <div class="column-content codeinstitute"></div>
        </a>
      </div>

      <div
        class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-6 col-xl-4 portfolio-column"
      >
        <a href="./peaks.html" class="portfolio-link">
          <div class="column-content peaks"></div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <h2 class="column-title">Playground</h2>
      </div>
    </div>

    <div class="row row-portfolio">
      <div
        class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-6 offset-xl-2 col-xl-4 portfolio-column"
      >
        <a href="" class="portfolio-link" target="_blank">
          <div class="column-content sessions"></div>
        </a>
      </div>

      <div
        class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-6 col-xl-4 portfolio-column"
      >
        <a href="" class="portfolio-link" target="_blank">
          <div class="column-content text-hover"></div>
        </a>
      </div>
    </div>
  </div>
</section>
