@import "./transitions.scss";

button,
a[role='button'] {
  padding: calc(var(--button-spacing) / 2) var(--button-spacing);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  @include transition(background-color);
  text-decoration: none;

  &.primary {
    background-color: var(--color-orange);
    color: var(--color-white);

    &:hover {
      background-color: darken(#ff6700, 5%);
    }
  }

  &.secondary {
    background-color: var(--color-blue);
    color: var(--color-black);

    &:hover {
      background-color: var(--color-dark-blue);
    }
  }

  &.ternary {
    background-color: var(--color-black);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-white);
    }
  }
}
