@import '../styles/mq.scss';

#root > .container:first-child {
  padding-top: 100px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

main {
  // todo refactor
  input {
    min-width: 100%;
    font-size: 1rem;
    border: 2px solid var(--color-black);
    color: var(--color-black);
    font-size: 1rem;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }

  .input-container {
    position: relative;
  }

  input::placeholder {
    color: var(--color-black);
  }

  .search-icon {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 2;
  }
}
