@import '../styles/mq.scss';

#root > .container:first-child {
  padding-top: 100px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
  padding: 0 20px;
  @include breakpoint('xl') {
    padding: 0;
  }
}

