body {
  background-image: var(--body-gradient);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-white);
  color: var(--color-black);
  overflow-x: hidden;
  background-size: 21px 21px;
}

* {
  box-sizing: border-box;
}
