.pattern {
  padding: 10vh 0;
  background-color: var(--color-pink-light);
  background-image: radial-gradient(
    var(--color-pink) 2px,
    var(--color-pink-light) 2px
  );
  background-size: 100px 100px;
}

.pattern-black {
  padding: 10vh 0;
  background-color: var(--color-white);
  background-image: radial-gradient(
    var(--color-black) 2px,
    var(--color-white) 2px
  );
  background-size: 100px 100px;
}
