@import "./mq.scss";

:root {
    --section-heading-spacing: 2rem;
    --button-spacing: 1rem;
    --border-radius: 5px;
}


@include breakpoint('md') {
    :root {
        --section-heading-spacing: 3rem;
        --button-spacing: 1.5rem;
    }
}

@include breakpoint('lg') {
    :root {
        --section-heading-spacing: 8rem;
        --button-spacing: 1.2rem;
    }
}

section h2 {
    margin-top: var(--section-heading-spacing);
    margin-bottom: calc(var(--section-heading-spacing) / 2);
}