@import "./mq.scss";

:root {
    --section-heading-spacing: 2rem;
    --section-paragraph-spacing: 1rem;
    --section-padding-y: 2rem;
    --section-padding-x: 1rem;
}


@include breakpoint('md') {
    :root {
        --section-heading-spacing: 3rem;
        --section-paragraph-spacing: 1.5rem;
        --section-padding-y: 3rem;
        --section-padding-x: 2rem;
    }
}

@include breakpoint('lg') {
    :root {
        --section-heading-spacing: 4rem;
        --section-paragraph-spacing: 2rem;
        --section-padding-y: 4rem;
        --section-padding-x: 3rem;
    }
}