span[data-tooltip-id] {
  text-decoration: underline;
  cursor: help;
}

.tooltip {
  img {
    border: none;
    border-radius: 0;
    max-width: 400px;
  }
}

div[role='tooltip'] {
  z-index: 9999;
}
