$transitionDuration: 0.3s;
$timingFunction:cubic-bezier(.52,.59,.84,.29);

@mixin transition($properties, $duration: $transitionDuration, $timing: $timingFunction) {
    @for $i from 1 through length($properties) {
    transition: nth($properties, $i) $duration $timing;
    }
}