.accent {
  background-color: var(--color-black);
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  font-size: larger;
  letter-spacing: 0.1em;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.w-full {
  width: 100%;
}

.text-left {
  text-align: left;
}