.accent {
  background-color: var(--color-black);
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  font-size: larger;
  letter-spacing: 0.1em;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.w-full {
  width: 100%;
}

.text-left {
  text-align: left;
}

.small-padding {
  padding: var(--card-spacing);
}

.medium-padding {
  padding: calc(var(--card-spacing) * 1.2);
}

.large-padding {
  padding: calc(var(--card-spacing) * 2);
}

.text-white {
  color: var(--color-white);
}

.border-radius {
  border-radius: var(--border-radius);
}

.bg-gradient {
  background-image: var(--body-gradient);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--grid-gap);
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-gap {
  gap: var(--grid-gap);
}

.flex-gap-small {
  gap: var(--small-grid-gap);
}

.small-margin-bottom {
  margin-bottom: var(--small-margin);
}

.small-margin-top {
  margin-top: var(--small-margin);
}

.pull-right {
  margin-left: auto;
}

.bg-black {
  background-color: var(--color-black);
  color: var(--color-white);
}