// https://coolors.co/palette/ff6700-ebebeb-c0c0c0-3a6ea5-004e98
// https://coolors.co/palette/03045e-0077b6-00b4d8-90e0ef-caf0f8

:root {
  --color-orange: #ff6700;
  --color-white: #ebebeb;
  --color-gray: #c0c0c0;
  --color-blue: #00b4d8;
  --color-dark-blue: #0077b6;
  --color-black: #03045e;
  --color-light-gray: #f5f5f5;
  --color-gray: #dbdbdb;
  --color-brown: #292929;
  --color-block-code: rgb(43, 43, 43);
  --color-accent: #90e0ef;
  --color-red: #ff0000;
  --color-green: #7bd47b;
  --font-family: 'Reddit Mono', monospace;
  --body-gradient: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 13px,
      rgba(0, 0, 0, 0.03) 13px,
      rgba(0, 0, 0, 0.03) 24px,
      transparent 24px,
      transparent 62px,
      rgba(0, 0, 0, 0.03) 62px,
      rgba(0, 0, 0, 0.03) 96px
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 14px,
      rgb(255, 255, 255) 14px,
      rgb(255, 255, 255) 18px,
      rgb(255, 255, 255) 18px,
      rgb(255, 255, 255) 28px,
      rgb(255, 255, 255) 28px,
      rgb(255, 255, 255) 32px
    );
}
