.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
}

.skill {
  background-color: var(--color-black);
  font-size: 1rem;
  line-height: 1;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
  }
}
