@import './../../styles/transitions.scss';

.icons {
  a {
    color: var(--color-black);
    @include transition((transform, color));
  }

  a:hover {
    color: var(--color-pink);
    transform: translateY(-5px);
  }
}
