.cv-container {
  padding-bottom: 100px;
  .flex {
    gap: 50px;
    justify-content: space-between;
  }

  img {
    width: 200px;
  }

  article {
    margin-bottom: 100px;
    &:first-of-type {
      margin-top: 100px;
    }
  }
}
