@import './../../styles/mq.scss';
@import './../../styles/transitions.scss';

.icons-container {
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  padding: 20px 0;
  button {
    display: inline-block;
    background-color: transparent;
    color: var(--color-black);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 99;
    @include breakpoint(lg) {
      display: none;
    }
  }

  h6 {
    display: none;
    @include breakpoint(lg) {
      display: block;
    }
  }

  .icons {
    gap: 30px;
    a {
      @include transition(transform);
    }

    a:hover {
      transform: translateY(-5px);
    }
  }
}
