.about-header {
  .flex {
    gap: 60px;
    align-items: flex-start;
  }

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    li {
      background-color: transparent;
      padding: 2px 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      color: var(--color-green);
      margin-bottom: 2px;
      font-size: 1rem;
    }
  }
}

.about-main {
  section {
    .container {
      padding: 60px 40px;
    }
  }

  .bg-black {
    padding-top: 0;

    h2 {
      margin-top: 100px;
    }
  }

  .bg-blue {
    border-radius: 0;
    padding: 60px 40px;
    color: var(--color-white);

    h2 {
      &:last-of-type {
        margin-top: 100px;
      }
    }
  }

  .search-section {
    padding-top: 0;
  }
}

.technologies {
  margin-top: 50px;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  li {
    margin-bottom: 20px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--color-black);
    display: flex;
    align-items: center;

    .icon {
      font-size: 4rem;
      margin-right: 20px;
    }

    &:first-child {
      background-color: chocolate;
      color: var(--color-white);
    }

    &:nth-child(2) {
      background-color: cornflowerblue;
      color: var(--color-white);
    }

    &:nth-child(3) {
      background-color: yellowgreen;
      color: var(--color-white);
    }

    &:nth-child(4) {
      background-color: darkcyan;
      color: var(--color-white);
    }

    &:nth-child(5) {
      background-color: deepskyblue;
      color: var(--color-white);
    }

    &:nth-child(6) {
      background-color: darkmagenta;
      color: var(--color-white);
    }

    &:nth-child(7) {
      background-color: crimson;
      color: var(--color-white);
    }
  }
}
