.videos {
  .description {
    padding: 10px;
    flex: 1;
  }

  .video {
    border-radius: 5px;
    padding: 0 5rem;
    background: lighten(#011627, 10%);

    p {
      line-height: 1.2;
    }
  }

  & > a {
    background: lighten(#011627, 10%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    text-decoration: none;
    max-width: 150px;
    text-align: center;

    &:hover {
      background: lighten(#011627, 20%);
    }
  }
}
