body,
html {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

div[class*="craftstrom"],
.black-background {
  background-color: black;
}

*[class*="pimsf"] {
  background-color: #414141;
}

*[class*="sessionstracker"] {
  background-color: #414141;
}

*[class*="texthovereffects"] {
  background-color: #414141;
}

*[class*="craftstrom"] {
  background-color: black;
}

*[class*="peaks"] {
  background-color: black;
}

*[class*="codeinstitute"] {
  background-color: grey;
}

.section__heading {
  margin-bottom: 60px;
}
