@import "base/colors";
@import "base/base";
@import "base/typography";

@import "components/nav";
@import "components/header";
@import "components/skills";
@import "components/about";
@import "components/portfolio";
@import "components/contact";
@import "components/testimonials";
@import "components/footer";

.no-scroll {
  overflow-y: hidden !important;
}

.spinner {
  background-color: #292929;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
