@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/typography.scss';

* {
  box-sizing: border-box;
}

.box:first-child,
.box:nth-child(4) {
  border-color: #005246 #005246 #005246cc #005246cc;
}

.box:nth-child(2) {
  border-color: #ff944e #ff944e #ff944ecc #ff944ecc;
}

.box:nth-child(3) {
  border-color: #ffe8d1 #ffe8d1 #ffe8d1cc #ffe8d1cc;
  p {
    color: black;
  }
}
