@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/typography.scss';

* {
  box-sizing: border-box;
}

.dot {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: up;
  animation-iteration-count: infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes up {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
  }
}

.box:first-child,
.box:nth-child(4) {
  border-color: #005246 #005246 #005246cc #005246cc;
}

.box:nth-child(2) {
  border-color: #ff944e #ff944e #ff944ecc #ff944ecc;
}

.box:nth-child(3) {
  border-color: #ffe8d1 #ffe8d1 #ffe8d1cc #ffe8d1cc;
  p {
    color: black;
  }
}
