@import '../../../../styles/mq.scss';
@import '../../../../styles/transitions.scss';
.aside-section {
  aside {
    position: absolute;
    background-color: var(--color-blue);
    right: 0;
    bottom: 0;
    z-index: 9;
    width: 400px;
    padding: 20px;
    transform: translateX(110%);
    @include transition(transform);
    border-top-left-radius: var(--border-radius);
    color: var(--color-black);
    top: 0;
    &.show {
      transform: translateX(0);
    }
  }

  .note {
    max-width:400px;

    @include breakpoint(lg) {
      max-width: 600px;
    }
  }
}
