@import '../../../../styles//mq.scss';
@import '../../../../styles/transitions.scss';

.questions {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;

  @include breakpoint(xl) {
    margin-top: 60px;
  }
}

.question {
  background-color: var(--color-black);
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
  opacity: 0;
  @include transition(opacity);

  &:hover {
    background-color: var(--color-accent);
  }
}

.questions-container {
  gap: 80px;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoint(xl) {
    flex-direction: row;

    section {
      padding-bottom: 100px;
    }
  }

  section {
    flex: 1;
  }
}

@for $i from 1 through 5 {
  .question:nth-child(#{$i}) {
    animation: fadeIn 0.5s #{$i * 0.2}s forwards;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
