@import '../../styles/transitions.scss';

.page-transition {
  position: fixed;
  inset: 0;
  background-color: var(--color-pink-light);
  transform: translateX(100%);
  @include transition(transform);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &.enter {
    transform: translateX(0);
  }

  &.exit {
    transform: translateX(-100%);
  }
}

.animated-a .path {
  fill: none;
  stroke: var(--color-pink);
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 1s ease-out forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
