$footerColor: transparent;

footer {
  padding-bottom: 50px;
  background-color: $footerColor;
  color: var(--color-black);

  p {
    font-size: 1rem;

    .icon {
      vertical-align: middle;
    }
  }

  li {
    font-size: 1rem;
  }
}
