{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Rubik:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/app.css">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'shared/navigation.html' %}
    {% block content %}

    {% endblock %}
    {% block javascript %}
    <script src="https://unpkg.com/headroom.js@0.9.4/dist/headroom.js"></script>
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
