
@import './styles/variables.scss';
@import './styles/typography.scss';
@import './styles/global.scss';
@import './styles/containers.scss';
@import './styles/utils.scss';
@import "./styles/tooltip.scss";


header {
  padding-top: 100px;
  padding-bottom: 0px;

  h3 {
    margin-bottom: 30px;
  }

  h1 {
    margin-bottom: 50px;
  }

  .flex {
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  img {
    border-radius: 10px;
    max-width: 250px;
    border: 6px solid var(--color-black);
  }

  p {
    margin: 0;
  }
}

.magic-square {
  position: absolute;
  z-index: 0;
}

footer {
  padding-bottom: 50px;
  padding-top: 100px;
}


.bg-white {
  background-color: var(--color-white);

  .skewed-bottom {
    &::before {
      background-color: var(--color-white);
    }

    .circle {
      background-color: var(--color-white);
    }
  }

  aside {
    position: absolute;
    background-color: var(--color-green);
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    max-width: 300px;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    &.show {
      transform: translateX(0);
    }

    h3 {
      clear: both;
      margin-top: 40px;
    }

    p {
      font-size: 1rem;
      margin-top: 20px;
    }

    button {
      background-color: var(--color-black);
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      color: var(--color-white);
      margin-top: 20px;
      border-radius: 5px;
    }

    .icon {
      font-size: 2rem;
      float: right;
      cursor: pointer;
    }
  }
}


