@import './../../styles//transitions.scss';
.image-container {
  @include transition(transform);
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent);
    opacity: 0.5;
    transform: rotate(0deg);
    border-radius: var(--border-radius);
    @include transition(transform);
  }

  &:hover {
    transform: rotate(10deg);
    &::after {
      transform: rotate(10deg);
    }
  }

  img {
    border-radius: var(--border-radius);
  }
}

img {
  user-select: none;
}
