$blue: #20bdff;
$white: #fff;

%gutter-y {
  padding-top: 100px;
  padding-bottom: 100px;

  @media (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.skills-section {
  @extend %gutter-y;

  .skills-column {
    margin-bottom: 100px;

    @media (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
  .skills-description {
    font-weight: 200;
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-size: 1rem;
    line-height: 2.2;
    color: #797979;

    span {
      padding: 3px 7px;
      font-family: "Rubik", sans-serif;
      color: #292929;

      background: linear-gradient(to right, #20bdff 90%, #81c59f);
    }
  }
}
.skills-section span::selection {
  background: #292929;
  color: $white;
}

.skills-section span::-moz-selection {
  background: #292929;
  color: $white;
}

.skills-heading::selection {
  background: $blue;
}
.skills-heading::-moz-selection {
  background: $blue;
}
.skills-description::selection {
  background: $blue;
}
.skills-description::-moz-selection {
  background: $blue;
}

.fa-icon {
  font-size: 1.5rem;
}
