@tailwind base;
@tailwind components;
@tailwind utilities;

.headroom--pinned nav button,
.headroom--unpinned nav button{
    @apply bg-secondary  text-white;
}

.z-max {
    z-index: 999;
}

::selection {
    @apply bg-blue-500 text-black;
}

.print .project{
    break-inside: avoid;
    page-break-inside: avoid; 
    margin-top: 20px;
    padding-top: 20px;
}

.print .hashtags{
   display: none;
}

.print .project h4{
    margin-top: 20px;
}

@media print {
    .project{
        break-inside: avoid;
        page-break-inside: avoid; 
        margin-top: 20px;
        padding-top: 20px;
    }
    
    .hashtags{
       display: none;
    }
    
    .project h4{
        margin-top: 20px;
    }

    .print-hidden {
        display: none;
    }
}