.post-page {
  .container {
    span {
      font-size: 1rem;
    }
  }
}

.post-loader {
  background-color: var(--color-white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
