@import '../../styles/mq.scss';

.elevated {
  max-width: 1000px;
  left: 0;
  right: 0;
  bottom: -100px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
}

.steps-section {
  padding-top: calc(var(--card-spacing) * 30);
  @include breakpoint(xxs) {
    padding-top: calc(var(--card-spacing) * 30);
  }
  @include breakpoint(xs) {
    padding-top: calc(var(--card-spacing) * 20);
  }
  @include breakpoint(sm) {
    padding-top: calc(var(--card-spacing) * 12);
  }
  @include breakpoint(md) {
    padding-top: calc(var(--card-spacing) * 4);
  }
  @include breakpoint(lg) {
    padding-top: calc(var(--card-spacing) * 2);
  }
}

.project-bg {
  height: 50vh;
  border-radius: var(--border-radius);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
  position: relative;
  min-width: 48%;
}
