@import '../../styles/mq.scss';

.elevated {
  max-width: 1000px;
  left: 0;
  right: 0;
  bottom: -200px;
  margin: 0 auto;
  padding: 2rem;
  position: absolute;

  @include breakpoint(md) {
    bottom: -100px;
    border-radius: var(--border-radius);
  }
}

.steps-section {
  padding-top: calc(var(--card-spacing) * 30);
  @include breakpoint(xxs) {
    padding-top: calc(var(--card-spacing) * 30);
  }
  @include breakpoint(xs) {
    padding-top: calc(var(--card-spacing) * 20);
  }
  @include breakpoint(sm) {
    padding-top: calc(var(--card-spacing) * 12);
  }
  @include breakpoint(md) {
    padding-top: calc(var(--card-spacing) * 4);
  }
  @include breakpoint(lg) {
    padding-top: calc(var(--card-spacing) * 2);
  }
}
