@import '../../styles/mq.scss';

.elevated-container {
  @include breakpoint(md, max) {
    padding-bottom: 0;
  }
}

.elevated {
  max-width: 1000px;
  left: 0;
  right: 0;
  bottom: -200px;
  margin: 0 auto;
  padding: 2rem;
 

  @include breakpoint(md) {
    position: absolute;
    bottom: -100px;
    border-radius: var(--border-radius);
  }
}

.steps-section {
  @include breakpoint(md) {
    padding-top: calc(var(--card-spacing) * 4);
  }
  @include breakpoint(lg) {
    padding-top: calc(var(--card-spacing) * 2);
  }
}
