<footer class="footer-section container-fluid">
  <ul class="footer-list row">
    <li class="col-sm-4 col-lg-12">
      <a
        href="https://www.linkedin.com/in/antonija-simic"
        target="_blank"
        rel="noopener"
        >Linkedin</a
      >
    </li>
    <li class="col-sm-4 col-lg-12">
      <a href="https://github.com/tonkec" target="_blank" rel="noopener"
        >Github</a
      >
    </li>
    <li class="col-sm-4 col-lg-12">
      <a href="https://codepen.io/tonkec/" target="_blank" rel="noopener"
        >Codepen</a
      >
    </li>
    <li class="col-sm-4 col-lg-12">
      <a href="https://mytwocents.dev/" target="_blank" rel="noopener"
        >mytwocents</a
      >
    </li>
  </ul>
</footer>
