body,
html {
  margin: 0;
  padding: 0;
  background-color: $yellow;
  position: relative;
  z-index: -2;
}

a {
  &:focus,
  &:focus:active {
    outline: $yellow solid 1px;
    text-decoration: none;
  }
}

section {
  background-color: $white;
  z-index: 1;
  position: relative;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #292929;
  outline: 1px solid $yellow;
}
