body {
  font-family: "Raleway", sans-serif;
}

.yellow-selection::selection {
  background-color: $yellow;
  color: $black;
}

.yellow-selection::-moz-selection {
  background-color: $yellow;
  color: $black;
}

.black-selection::selection {
  background-color: $black;
  color: $yellow;
}

.black-selection::-moz-selection {
  background-color: $black;
  color: $yellow;
}
